// Place all the styles related to the helo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: darkgray;
	font-size: 18pt;
	margin: 10px 20px;
}

h1 {
	color: darkgray;
	font-size: 32pt;
	margin: 50px 0px;
}
