<!DOCTYPE html>
<html>
	<head>
		<title>伝言板</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<h1 class="title">簡単伝言板</h1>
		<%= yield %>
		<div class="footer">copyrigh TOSHIYUKI-TANAKA, 2019</div>
	</body>
</html>
